APP_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=http://localhost:3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/zescrow
AUTH_JWT_SECRET=change-me

EMAIL_MODE=mock
EMAIL_FROM_NAME=Zescrow
EMAIL_FROM_ADDRESS=
ADMIN_ALERT_EMAILS=
BREVO_API_KEY=
BREVO_API_BASE_URL=https://api.brevo.com/v3

PINATA_JWT=
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs

PAYMENT_PROVIDER=mock
PAYMENT_ENV=test
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_PAY_ITEM_NAME=Zescrow Escrow Transaction
INTERSWITCH_CURRENCY=566

DELIVERY_PROVIDER=sendbox
DELIVERY_ENV=test

SENDBOX_API_BASE_URL=https://sandbox.staging.sendbox.co/shipping
SENDBOX_API_KEY=
SENDBOX_AUTH_HEADER=Authorization
SENDBOX_AUTH_PREFIX=

SENDBOX_QUOTE_PATH=/shipment_delivery_quote
SENDBOX_CREATE_ORDER_PATH=/shipments
SENDBOX_TRACK_PATH=/tracking
